.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #FDFAF0;
}
.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #575875;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.left-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 100vh;
    background-color: #616283;
    box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.4);
    z-index: 11;
}

.intersection-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 160px;
    background-color: #575875;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    z-index: 12;
}

.intersection-box h3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: black;
    font-weight: normal;
    text-align: center;
    width: 100%;
    font-weight: light;
}

.top-bar h1 {
    position: absolute;
    top: 16%;
    left: 190px;
    transform: translateY(-50%);
    color: black;
    font-weight: normal;
    text-align: left;
    width: 100%;
    font-weight: lighter;
}

.make-a-reservation {
    position: absolute;
    top: 204px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #616283;
    color: black;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transform: translateY(-50%);
    font-size: 16px;
}

.make-a-reservation:hover {
    background-color: #575875;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.profile {
    position: absolute;
    top: 258px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #616283;
    color: black;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transform: translateY(-50%);
    font-size: 16px;
}

.profile:hover {
    background-color: #575875;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.userIcon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.reservations {
    position: absolute;
    top: 312px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #616283;
    color: black;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transform: translateY(-50%);
    font-size: 16px;
}

.reservations:hover {
    background-color: #575875;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.center-panel {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.input-field {
    width: 120%;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: #616283;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    font-weight: lighter;
    font-size: 20px;
    color:black;
}

.save-profile-button {
    width: 40%;
    padding: 10px;
    background-color: #616283;
    font-weight: lighter;
    border-color: #616283;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}

.save-profile-button:hover {
    background-color: #575875;
}