.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #FDFAF0;
}

.reservation-box {
    background: #FDFAF0;
    padding: 40px 16px;
    border-radius: 8px;
    width: 90%;
    max-width: 1000px;
    color: gray;
}

h2 {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
    font-weight:lighter;
}

.reservation-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reservation-item {
    display: flex;
    width: calc(100% - 32px);
    background: #FDFAF0;
    padding: 14px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    border: 0.5px solid rgba(0, 0, 0, 0.35);
    color: gray;
    margin: 8px auto;
    font-weight: lighter;
}

.reservation-details {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.reservation-info {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    white-space: nowrap;
}

.reservation-time {
    font-weight: lighter;
    color: black;
    min-width: 150px;
    font-size: 18px;
}

.reservation-name {
    font-size: 18px;
    min-width: 200px;
    color: black;
    font-weight: lighter;
}

.reservation-location {
    font-size: 18px;
    flex-grow: 1;
    color: black;
    font-weight: lighter;
}

.reserve-button, .reserved-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    min-width: 100px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
    font-weight: lighter;
}

.reserve-button {
    background-color: #616283;
    color: white;
}

.reserve-button:hover {
    background-color: #575875;
}

.reserved-button {
    background-color: #dd1313;
    color: white;
    cursor: not-allowed;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #575875;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.left-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 100vh;
    background-color: #616283;
    box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.4);
    z-index: 11;
}

.intersection-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 160px;
    background-color: #575875;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
    z-index: 12;
}

.intersection-box h3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: black;
    font-weight: normal;
    text-align: center;
    width: 100%;
    font-weight: light;
}

.top-bar h1 {
    position: absolute;
    top: 16%;
    left: 190px;
    transform: translateY(-50%);
    color: black;
    font-weight: normal;
    text-align: left;
    width: 100%;
    font-weight: lighter;
}

.make-a-reservation {
    position: absolute;
    top: 204px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #616283;
    color: black;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transform: translateY(-50%);
    font-size: 16px;
}

.make-a-reservation:hover {
    background-color: #575875;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.profile {
    position: absolute;
    top: 258px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #616283;
    color: black;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transform: translateY(-50%);
    font-size: 16px;
}

.profile:hover {
    background-color: #575875;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.userIcon {
    position: absolute;
    top: 20px; /* Adjust the top position */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px; /* Adjust the margin to move the image down */
}

.reservations {
    position: absolute;
    top: 312px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #616283;
    color: black;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transform: translateY(-50%);
    font-size: 16px;
}

.reservations:hover {
    background-color: #575875;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.refresh-button {
    position: absolute;
    top: 50px;
    left: 1950px;
    padding: 5px 10px;
    background-color: #575875;
    color: black;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transform: translateY(-50%);
    font-size: 16px;
}

.refresh-button:hover {
    background-color: #616283;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}